h1 {
    font-family: 'Tangerine', serif; 
    font-size:   72px;
    color:       red;
    text-align: center;
    text-shadow: 4px 4px 4px #aaa;
    position: absolute;
    z-index: -1;
  }

body {
    background-image: url('pexels-fabianwiktor-994605.jpg');
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: rgb(255, 255, 255);
    font-size: 22px;
  }

.navbar {
    overflow: visible;
    background-color:        red;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color:        red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color:        red;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color:        red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px        red;
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color:        red;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color:        red;;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  a:link {
    color:        red;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color:        red;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color:        red;
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color:        red;
    background-color: transparent;
    text-decoration: underline;
  }

  * {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

.fixed {
    width: 50%;
    bottom: 10px;
  } 

  .container {
    display: flex;
    align-items: flex-start;
    color:        red;
    font-size: medium;
}

.header h1 {
  position: relative;
  z-index: 1;
}
